.shirt-img{
    width:100%;
}

.tShirt-container{
    display: grid;
    grid-gap: 4rem;
    width: 70%;
    margin:auto;
}

@media(min-width:540px) {
    .tShirt-container{
        grid-template-columns: repeat(2,1fr);
        width:90%;
        margin:0;
    }
}

@media(min-width:1024px) {
    .tShirt-container{
        grid-template-columns: repeat(3,1fr);
        width: 70%;
    }
}

.shirt-box{
    box-shadow: 2px 2px 25px #dedede;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .price{
        font-weight: 600;
        color: #555;
        font-size: 1.25rem;
    }

    button{
        border:none;
        background-color: #444;
        color:#fefefe;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: #111;
        }

        &:disabled{
            background-color: #ee2233aa;
            pointer-events: none;
        }
    }

    .toggle-qty{
        background-color: #444;
        color:#fefefe;
        width: 4rem;
        padding: 5px 12px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .icon{
            cursor: pointer;
            font-size: 1.25rem;
        }
    }
}