
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    margin:1rem;
    background-color: #dedede;
    border-radius: 8px;

    .logo-heading{
        color:#555;
        text-decoration: none;
        font-weight: 900;
    }

    .products{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #555;
     
        cursor: pointer;

        .title{
            margin-right: 1rem;
            font-weight: 500;
        }
    }
}

.cart-container{    
    .qty{
        margin-left: 5px;
        margin-bottom: -2px;
        display: block;
    }
}

@media(min-width:540px) {
    .navbar{
        padding:1rem 3rem;
    }

    .logo-heading{
        font-size: 2.25rem;
    }

    .products{
            font-size: 1.5rem;
            .cart-container{
                .qty{
                    font-size: 1.25rem;
                }
            }
    }
}